<!DOCTYPE html>
<html>
<head>
  <title>Barcamp Tampa</title>
  <meta name="viewport" content="width=device-width" >
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
  <link rel="manifest" href="../../../public/manifest.json">
</head>

<body>
<span class="notice"><%= notice %></span>
<span class="alert"><%= alert %></span>
<%= yield %>
</body>
</html>
