<!DOCTYPE html>
<html>
<head>
  <title>Barcamp Tampa</title>
  <meta name="viewport" content="width=device-width" >
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107412649-6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-107412649-6');
  </script>
</head>

<body>
<span class="notice"><%= notice %></span>
<span class="alert"><%= alert %></span>
<%= yield %>
</body>
</html>
